* {
    box-sizing: border-box;
}

body{
    background-color: #E5E5E5E5;

}

.topo{
    width: 414px;
    height: 92px;
    background-color: #CF2B2B;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    box-shadow: 0 3px 0.3em grey;
}

.name{
    width: 248px;
    height: 44px;
    margin-top: 8px;
    margin-left: 21px;
}

h1{
    font-family: 'Righteous';
    font-size: 44px;
    font-weight: 400;
    font-style: normal;
    line-height: 54.63px;
    letter-spacing: -1.2%;
    color: #FFFFFF;
}

h2{
    font-family: 'Roboto';
    font-weight: 400;
    font-style: normal;
    font-size: 18px;
    line-height: 21.09px;
    color: #FFFFFF;
}

.pedidos{
    width: 414px;
    height: 880px;
    margin-top: 123px;
    overflow-x: scroll;
}

.descriçao-pedido{
    width: 350px;
    height: 25px;
    margin-left: 19px;
    font-family: 'Righteous';
    font-weight: 400;
    font-style: normal;
    font-size: 26px;
    line-height: 32.28px;
    letter-spacing: 1.8%;
}

.pratos {
    display: flex;
}

.pratos .selecionado .prato button .bebidas button .verde {
    background-color: green;
}


.verde  {
    background-color:  green;
}

.bebidas{
    display: flex;
}

.sobremesa{
    display: flex;
}


button {
    width: 172px;
    height: 216px;
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 9px;
    background-color: #FFFFFF;
    margin-right: 10px;
    margin-left: 15px;
}

button img {
    width: 144px;
    height: 87px;
    border-radius: 4px;
    margin-bottom: 2px;
}

.descriçao{
    font-family: 'Roboto';
    font-weight: 700;
    font-style: normal;
    font-size: 16px;
    line-height: 18.75px;
    text-align: left;
    padding-left: 4px;

}

.detalhes{
    font-family: 'Roboto';
    font-weight: 300;
    font-style: normal;
    font-size: 15px;
    line-height: 17.58px;
    color: #A6A6A6;
    text-align: left;
    padding-left: 4px;
    margin-top: 4px;
}

.preço{
    
    font-family: 'Roboto';
    font-weight: 600;
    font-style: normal;
    font-size: 16px;
    line-height: 18.75px;
    color: #000000;
    text-align: left;
    padding-left: 4px;
    margin-top: 6px;

}

.fim-pedido{
    width: 414px;
    height: 92px;
    position: fixed;
    bottom: 0;
    left: 0;
    background-color: #FFFFFF;
}

.finalizar{
    background-color: #CBCBCB;
    width: 364px;
    height: 61px;
    border-radius: 50px;
    margin-top: 16px;
    margin-left: 25px;
    font-family: 'Roboto';
    font-weight: 400;
    font-style: normal;
    font-size: 20px;
    line-height: 23.44px;
    letter-spacing: 1.8%;
    text-align: center;
    color: #FFFFFF;


}